<header>
    <h1 title="Fillterbank">fillterbank</h1>
    <div class="header-nav">
      <nav class="navigation">
        <ul>
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">Sobre</a></li>
          <li><a routerLink="contact">Contato</a></li>
          <i class="fa-solid fa-right-to-bracket"></i>
        </ul>
      </nav>
      <a routerLink="register" class="new-account">Abrir conta
        <fa-icon [icon]="faRightToBracket"></fa-icon>
      </a>
    </div>
  </header>